@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  color: #333;
}
.container{
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  .time-left {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .hide {
    display: none;
  }
  .picker-container {
    display: flex;
    flex-direction: column;
  }
  .timePicker-container {
    ::ng-deep &.mat-form-field-appearance-legacy .mat-form-field-infix {
      display: flex;
      .ngx-material-timepicker-toggle {
        padding: 0;
        margin: 0;
        svg {
          height: 17px;
          fill: #333;
        }
      }
    }
  }
  .timer-container {
    display: flex;
    margin-bottom: 30px;
    .column {
      margin: 10px 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .content {
        width: 80px;
      }
      .digit {
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 5px;
      }
      .word {
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
  .time-has-come {
    margin-bottom: 30px;
    font-size: 50px;
    div:first-child {
      margin-bottom: 30px;
    }
  }
  .reset-button {
    margin-top: 10px;
    background: #333;
    color: white;
  }
  @media screen and (min-width: 700px){
    .time-left {
      font-size: 20px;
    }
    .timer-container {
      .column {
        margin: 10px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content {
        }
        .digit {
          font-size: 70px;
          margin-bottom: 5px;
          width: 100px;
        }
        .word {
          font-size: 16px;
          width: 70px;
          text-transform: uppercase;
        }
      }
    }
    .time-has-come {
      font-size: 70px;
    }
  }
}
