<div class="container">
  <div class="text-center picker-container">
    <mat-form-field class="example-full-width" *ngIf="displayDatePicker">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()" [(ngModel)]="dueDate"
      (ngModelChange)="setDate()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [touchUi]="isMobile()" #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="timePicker-container" *ngIf="displayTimePicker">
      <input matInput [ngxTimepicker]="timePicker" placeholder="Choose a time" [format]="24">
      <ngx-material-timepicker-toggle [for]="timePicker"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #timePicker (timeSet)="setTime($event)"></ngx-material-timepicker>
    </mat-form-field>
  </div>
  <div class="text-center">
    <h1 *ngIf="dueDateTime" class="time-left till">
      <span>Till {{ dueDateTime | date :'EEEE, MMMM d, y, HH:mm:ss' }}</span>
    </h1>
  </div>
  <div class="text-center timer-container" *ngIf="timeLeft">
    <div class="column">
      <span class="content digit">{{timeLeft.days.digit}}</span>
      <span class="content word">{{timeLeft.days.word}}</span>
    </div>
    <div class="column">
      <span class="content digit">{{timeLeft.hours.digit}}</span>
      <span class="content word">{{timeLeft.hours.word}}</span>
    </div>
    <div class="column">
      <span class="content digit">{{timeLeft.minutes.digit}}</span>
      <span class="content word">{{timeLeft.minutes.word}}</span>
    </div>
    <div class="column">
      <span class="content digit">{{timeLeft.seconds.digit}}</span>
      <span class="content word">{{timeLeft.seconds.word}}</span>
    </div>
  </div>
  <div class="text-center time-has-come" *ngIf="timeHasCome">
    <div>Congratulations!</div>
    <div>Your wait is over!!!</div>
  </div>
  <div class="text-center" *ngIf="timeLeft || timeHasCome">
    <button mat-button (click)="resetTimer()">Reset</button>
  </div>
</div>


